
<div>
  <form name='define' ng-submit='getWord(wordDef)'>
    <input name='word' type='text' ng-model='wordDef'>
    <button type='submit'>Get Definition</button>
  </form>
  <div>
    <ul>
      <li ng-repeat='word in definition.words'>
        <h2>{{ word.data.results[0].headword}}</h2>
        <p>{{ word.data.results[0].pronunciations[0].ipa }}</p>
        <p>{{ word.data.results[0].part_of_speech}}</p>
        <p ng-repeat="def in word.data.results[0].senses[0].definition">Definition: {{def}}</p>
        
        <p ng-show='word.data.results[0].senses[0].examples[0].text'>Example: {{ word.data.results[0].senses[0].examples[0].text }}</p>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li ng-repeat='word in definition.words'><a ng-click='showCurrent(current)' ng-model='current'>{{ word.data.results[0].headword }} </a></li>
    </ul>
  </div>
</div>